@tailwind base;
@tailwind components;
@tailwind utilities;

.catalog-button {
    height: 60px;
    width: 60px;
}
*{
    font-family: PIXY, serif;
}

@font-face {
    font-family: PIXY;
    src: url("./assets/font/PIXY.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

